.example-wrapper { 
	margin : 1em auto;
	max-width : 800px;
	width : 95%;
	font : 18px/1.5 sans-serif;
}

.example-wrapper code {
	background : #F5F5F5;
	padding : 2px 6px;	
}

#eyePwd {
	margin-left : -22px;
		margin-top : 10px;
	position : relative;
	float : right;
}

input {
	min-width : 300px;
}

.togglePwd {
	padding-right : 22px;
}