{% extends 'base.html.twig' %}

{% block title %}bboottori{% endblock %}

{% block main %}
	<div id="layout" class="">
		<!-- TODO : Créer mon systeme de grid ici -->
		LAYOUT
		{% block content %}{% endblock %}
	</div>
{% endblock %}